.home-bg {
  background-image: url("../img/home-bg-slideshow1.jpg");
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  background-attachment: fixed; */
}